<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body">
  
  <div class="head">
<h1 class="title">Hookah Lounge's</h1>
  </div>
  
    <div class="big-div">

      <a class="little div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
      <div class="container">
            <img src="https://previews.123rf.com/images/bondvit/bondvit1803/bondvit180300093/97920609-hookah-on-water-stands-on-the-wooden-table-with-a-bottle-of-red-wine-and-filled-glasses-shisha-conce.jpg" alt="Avatar" class="image">
            <div class="overlay">
              <div class="text">Hello World</div>
            </div>
          </div>
        </a>

        <a href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
          <div class="container">
                <img src="https://previews.123rf.com/images/bondvit/bondvit1803/bondvit180300093/97920609-hookah-on-water-stands-on-the-wooden-table-with-a-bottle-of-red-wine-and-filled-glasses-shisha-conce.jpg" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Hello World</div>
                </div>
              </div>
            </a>

            <a class="little div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
              <div class="container">
                    <img src="https://previews.123rf.com/images/bondvit/bondvit1803/bondvit180300093/97920609-hookah-on-water-stands-on-the-wooden-table-with-a-bottle-of-red-wine-and-filled-glasses-shisha-conce.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">Hello World</div>
                    </div>
                  </div>
                </a>

                <a class="little div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                  <div class="container">
                        <img src="https://previews.123rf.com/images/bondvit/bondvit1803/bondvit180300093/97920609-hookah-on-water-stands-on-the-wooden-table-with-a-bottle-of-red-wine-and-filled-glasses-shisha-conce.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                      </div>
                    </a>
            












    </div>
</body>
</html>